<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= __('run_shut_down_server_listener') %></h2>
      <a href="/" class="btn btn-success btn-block" id="server_start"><%= __('start_listener') %></a>
      <a href="/" class="btn btn-danger btn-block" id="server_stop"><%= __('stop_listener') %></a>
    </div>
  </div>
</div>
