<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Run/Shut down Server Listener</h2>
      <a href="/" class="btn btn-success btn-block" id="server_start">Start the listener</a>
      <a href="/" class="btn btn-danger btn-block" id="server_stop">Stop the listener</a>
      <h2>Update database</h2>
      <a href="/upd" class="btn btn-danger btn-block" id="server_updateTrackandGroup">Step 1: Update Tracks and Groups</a>
      <a href="/updCars" class="btn btn-danger btn-block" id="server_updateCars">Step 2: Update Cars</a>
    </div>
  </div>
</div>
