<div class="container">
  <div class="row">
    <h1>PasswordReset</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="/reset" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="passwordNew">Your new password</label>
          <input type="password" class="form-control" name="passwordNew"/>

        </div>
        <div class="form-group">
          <label for="passwordNew2">Password check</label>
          <input type="password" class="form-control" name="passwordNew2"/>

        </div>

        <input type="submit" id="reset--pass"value="Reset"/>
      </form>
    </div>
  </div>
</div>
