<div class="site">
  <div class="container">
    <h1><%= __('signed_up_wellcome_message') %></h1>

    <a href="/"><%= __('back_to_home_page') %></a>
    <a href="/logout"><%= __('logout') %></a>
  </div>
</div>
