<div class="panel panel-default">
  <div class="panel-heading">Your Server API Keys</div>
  <div class="panel-body">
    <p style="margin: 0">Connect multiple dedicated servers to to log output to (your app name). You can run the servers from your home, or on a personal server.</p>
  </div>
  <ul class="list-group">
    <% _.each(data, function (item) { %>
      <li class="list-group-item clearfix">
        <div class="pull-left">
          <p><pre style="display: inline"><%= item.key %></pre>&nbsp;<%= item.name %></p>
        </div>
        <div class="pull-right">
          <form class="hidden" action="/user/keys/<%= item.id %>/destroy" method="POST">
            <button class="btn btn-danger pull-right" type="submit">Confirm</button>
          </form>
          <a data-delete-key class="btn btn-link pull-right" href="javascript:void(0)">Deactivate</a>
        </div>
      </li>
    <% }) %>
    <li class="list-group-item hidden" data-key-form>
      <form class="form-inline" action="/user/keys/add" method="POST">
        <div class="form-group" style= "width: 100%">
          <input type="text" class="form-control" placeholder="Unnamed Server API Key" style="width: calc(100% - 115px);" name="name">
          <button class="btn btn-success pull-right" type="submit">Generate</button>
        </div>
      </form>
    </li>
  </ul>
  <div class="panel-footer clearfix">
    <div class="pull-left">
      <small>Using <strong><%= data.length %>/5</strong></small>
    </div>
    <div class="pull-right">
      <a href="javascript:void(0)" data-new-key class="btn btn-link <% if (data.length >= 5) { %>disabled<% } %>">+ New Key</a>
    </div>
  </div>
</div>

<script>
$('[data-new-key]').on('click', function () {
  $('[data-key-form]').toggleClass('hidden');
});

$('[data-delete-key]').on('click', function () {
  $(this).prev('form').toggleClass('hidden');
});
</script>
